<div class="chat-window">
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
	//= test-message.html
</div>
