<section class="chat-window">
	<div class='message'>
		<div class='message__avatar message__avatar_user'></div>
		<div class='message__buble message__buble_user'>Пыщь пыщь ололо Пыщь пыщь ололо Пыщь пыщь ололо Пыщь пыщь ололо Пыщь пыщь ололо Пыщь пыщь ололо Пыщь пыщь ололо</div>
	</div>
	<form class="chat-window__text-buble">
		<textarea  type="text" placeholder="..." class="chat-window__text-buble-input"></textarea>
		<button type='button' class="chat-window__text-buble-button" disabled></button>
	</form>
</section>
