<div class="chat-window">
	<div class='chat-window__wrapper'>
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
		//= test-message.html
	</div>
</div>
