html,
body {
	margin: .5em;
}

.body {
	background: #282828;
}

.content {
	border-radius: 2em;
	border: 1px solid #EDEDED;
	margin: auto;
	max-width: 700px;
	min-width: 528px;
}

.title {
	color: #FFF;
	font-family: robotoMono;
	font-size: 3.5em;
	font-style: normal;
	font-weight: 700;
	line-height: 1em;
	margin: .3em auto;
	max-width: 700px;
}
