.chat-window {
	color: #fff;
	border: 1px solid #EDEDED;
	border-radius: 2em;
	min-height: 640px;
	padding: 0 2.5em;
	position: relative;
}

.chat-window__text-buble {
	display: flex;
	align-items: center;
	bottom: 2.5em;
	background: #fff;
	box-sizing: border-box;
	position: absolute;
	border: 0;
	border-radius: 2em;
	width: calc(100% - 2.5em * 2);
	height: 4em;
	text-align: left;
	padding: 0 2em;
	resize: none;
	overflow: hidden;
}

.chat-window__text-buble-input {
	border: 0;
	font: normal normal 1.5em/1.5 "robotoMono";
	color: #000;
	height: 2.5em;
	overflow-y: auto;
	outline:none;
	width: 100%;
	resize: none;
}

.chat-window__text-buble-input::placeholder {
	text-align: center;
}
