.chat-window {
	border-radius: 2em;
	border: 1px solid red;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: flex-end;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 700px;
}

.chat-window__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
