.chat-window__history {
	height: 100%;
	overflow-y: hidden;
	padding: 1em 1em 0 0;
	margin-bottom: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chat-window__history:hover {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	padding-right: .55em; 
}

.chat-window__history::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.chat-window__history::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #fff;
}

.message {
	margin-bottom: 1.5em;
	display: flex;
}

.message__avatar {
	border-radius: 50px;
	height: 5em;
	max-height: 5em;
	min-width: 5em;
}

.message__avatar_user {
	background: center / cover no-repeat url(../img/user-avatar.svg);
}

.message__buble {
	font: normal normal 1em/1 "roboto";
	color: #282828;
	margin-left: 2em;
	border-radius: 32px;
	padding: 1em 2em;
	height: fit-content;
}

.message__buble_user {
	background: #F9C35B;
}
