@media (max-width: 425px) {

	html,
	body {
		margin: 0;
	}

	.content {
		border-radius: 0;
		border: none;
		bottom: 0;
		max-width: 425px;
		min-width: unset;
		position: relative;
	}

	.title {
		font-size: 2em;
		margin: .3em .5em;
		max-width: 425px;
	}

	.chat-window {
		height: calc(100vh - 32px - 64px - 19px);
		margin-bottom: -8px;
		padding: 0 1em;
	}

	.chat-window__text-buble {
		border-radius: 0;
		height: 4.5em;
		margin: 0;
		padding: 0 1em;
	}

	.chat-window__history {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: .5em;
		overflow: hidden;
		padding: 1em 1em 0 0;
	}

	.chat-window__history:hover {
		-moz-overflow-scrolling: touch;
		-ms-overflow-scrolling: touch;
		-o-overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: scroll;
		padding-right: .55em;
	}

	.message {
		margin: 1em 0;
	}

}
