/*@media (max-width: 425px) {

	html,
	body {
		margin: 0;
	}

	.content {
		width: 375px;
	}

	.title {
		margin: 0;
		font-size: 2em;
		padding: .5em;
	}

	.chat-window {
		border-radius: unset;
		height: 108vh;
		border: unset;
		padding: 0;
	}

	.chat-window__history {
		padding: unset;
		margin: 0;
		padding: 0;
	}

	.chat-window__text-buble {
		border-radius: unset;
		margin-bottom: 0;
		padding: 0 1em;
	}

	.message {
		padding: 0 1em;
	}

	.message__buble {
		max-width: 8em;
	}

}
*/
