.message {
	display: flex;
	/*background: #fff;*/
	color: #000;
	/*width: 50%;*/
	margin-left: 2.5em;
	min-height: 72px;
}

.message__avatar {
	height: 4.5em;
	width: 4.5em;
	margin-right: 1.25em;
}

.message__avatar_user {
	background: url(../img/user-avatar.svg);
	background-size: cover;
}

.message__buble {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 2em;
}

.message__buble_user {
	background: #F9C35B;
}
