@media (max-width: 425px) {

	.body {
		margin: 0;
	}

	.content {
		border-radius: 0;
		border: none;
		bottom: 0;
		min-width: unset;
	}

	.title {
		font-size: 2em;
		margin: 0;
		max-width: 425px;
	}

	.chat-window {
		height: calc(100vh - 32px - 72px - .7em);
		padding: 0 1em;
	}

	.message__buble {
		max-width: calc(100vw - 4.5em - 9em);
		overflow-wrap: break-word;
	}

	.chat-window__text-buble {
		border-radius: 0;
		height: 4.5em;
		margin: 0;
		padding: 0 1em;
	}

	.chat-window__history {
		margin-bottom: .5em;
		padding: 1em 1em 0 0;
	}

}
