@font-face {
    font-family: robotoMono;
    src: url('./RobotoMono-Regular.woff2') format('woff2'),
    url('./RobotoMono-Regular.woff') format('woff'),
    url('./RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotoMono;
    src: url('./RobotoMono-Bold.woff2') format('woff2'),
    url('./RobotoMono-Bold.woff') format('woff'),
    url('./RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
